{% extends "admin/base.html" %}
{% load static %}

{% block extrastyle %}
{{ block.super }}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
<style>
    body, #container, .module h2, input, textarea, select {
        font-family: "Roboto", Arial, sans-serif;
    }

    #branding h1 {
        font-weight: 500;
    }

    #user-tools a,
    #content a.button {
        border-radius: 3px;
    }
</style>
{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header }}</a></h1>
{% endblock %}
